/Client/Release
/ClientLauncher/Release
/clientLibs/Release
/ClientManager/Release
/ivmpGameLauncher2/Release
/ivmpHackLauncher/Release
/ivmpServer/Release
/ivmpServer/API.rar
/ivmpServerMasterCon/Release
/masterList/Release
/Raknet/Release
/Release
/.vs
